.home{
    height: 100vh;
}

.button-absolute{
    position: absolute;
}

.youtube-player{
    width: 100%;
}

@media only screen and (max-width: 540px) {
    .button-absolute{
        position: initial;
    }
}
