@font-face {
    font-family: 'noel';
    src: url('../fonts/noel.otf') ;
}

.chut
{
    height: 650px;
    background-image: url("../img/noel.png");
    background-size: cover;
}

.chut > h1 {
    color: mintcream;
    font-family: "noel" ;
    font-size: 50px;
}

input.validate{
    text-align: center;
}

.parallax-container {
    height: 300px;
}

.section{
    min-height: 300px;
}

.select{
    box-shadow: -4px 4px 10px 4px rgba(0, 0, 0, 0.7);
}

.photo{
    position: relative;
    float: none !important;
    display: inline-block;
    padding: 10px!important;
}

.check{
    position: absolute;
    top: -3px;
    left: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    background-color: rgba(	224, 242, 241, 0.5);
}

.photo > img{
    border-radius: 10px;
    width: 100%;
}

